{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block lead %}On this page you can introduce your team members, instructors, and advisors.{% endblock %}

{% block page_content %}


<!-- <header class="bg-hero py-5 mb-5">
  <div class = "container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-2 mb-2" >{{ self.title() }}</h1>
        <p class="lead mb-5 text-white-50">Teams</p><br>
      </div>
    </div>
  </div>
</header>  -->


<!-- <div class="container">
<div class="row">
  <div class="col-8">
    <h2>What should this page contain? why?</h2>
    <hr>
    <ul>
      <li>Include pictures of your teammates, don't forget instructors and advisors!</li>
      <li>You can add a small biography or a few words from each team member, to tell us what you like, and what motivated you to participate in iGEM.</li>
      <li>Take team pictures! Show us your school, your lab and little bit of your city.</li>
      <li>Remember that image galleries can help you showcase many pictures while saving space.</li>
    </ul>
    <div class="bd-callout bd-callout-info"><strong>Important:</strong> Your wiki pages will be archived at the end of the iGEM season and this content will remain online. Please keep this in mind as you post photos and personal information on this page.</div>
  </div>
  <div class="col-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:CU/Team">2019 CU</a></li>
      <li><a href="https://2019.igem.org/Team:UANL/Team">2019 UANL</a></li>
      <li><a href="https://2019.igem.org/Team:William_and_Mary/Team">2019 William and Mary</a></li>
      <li><a href="https://2020.igem.org/Team:BOKU-Vienna/Team">2020 BOKU Vienna </a></li>
      <li><a href="https://2020.igem.org/Team:CAU_China/Team_Member">2020 CAU China</a></li>
      <li><a href="https://2020.igem.org/Team:Lethbridge/Members">2020 Lethbridge</a></li>
    </ul>
  </div>
</div>
</div> -->

<br>
<img src="./static/media/Team/Team.png" class="centeredimage">
<br>

<!-- <div class="mainC">
  <p>
    Hi! We are 2022 KULeuven iGEM team!
  </p>
</div> -->

<div class="container">
  <div class="section-title">
      <h1>Meet our team</h1>
  </div>

  <div class="teamgrid">
      <div class="column">
          <div class="team">
              <div class="team-img">
                  <img src="./static/media/Team/Luka.png" alt="Team Image">
              </div>
              <div class="team-content">
                  <h2>Luka Van den Berghe</h2>
                  <h3>Team leader, Wet lab, Outreach</h3>
                  <!-- <p>Some text goes here that describes about team members</p> -->
              </div>
              <div class="overlay">
                  <div class="quote">
                    Meet Luka! She graduated as a Biochemical engineer and is continuing 
                    her studies with a master in Biophysics, Biochemistry and Biotechnology. 
                    She believes that with joy and passion, both social and environmental challenges 
                    can be tackled using SynBio and this is the reason why the iGEM competition was 
                    the perfect challenge for her! When she's not in the lab, you will find her in yoga class, 
                    art expositions or a bar in Brussels
                  </div>
              </div>
          </div>
      </div>

      <div class="column">
        <div class="team">
            <div class="team-img">
                <img src="./static/media/Team/Elias.png" alt="Team Image">
            </div>
            <div class="team-content">
                <h2>Elias Maris</h2>
                <h3>Wet lab captain, Outreach</h3>
                <!-- <p>Some text goes here that describes about team members</p> -->
            </div>
            <div class="overlay">
                <div class="quote">
                  Meet Elias! As a pharmacy student specializing in drug development at the KU Leuven, 
                  his interest in healthcare and biotechnology has grown over the years. 
                  Ready to take on new challenges and learning experiences, he hopes to contribute 
                  to the iGEM team and therefore to the world. Apart from the wet lab, he loves hiking, 
                  traveling and socializing with other people
                </div>
            </div>
        </div>
    </div>

    <div class="column">
      <div class="team">
          <div class="team-img">
              <img src="./static/media/Team/Eugenia.png" alt="Team Image">
          </div>
          <div class="team-content">
              <h2>Eugenia Casella</h2>
              <h3>Wet lab captain, Outreach</h3>
              <!-- <p>Some text goes here that describes about team members</p> -->
          </div>
          <div class="overlay">
              <div class="quote">
                Meet Eugenia! An Italian, hardworking, resourceful and ambitious statistician 
                from KU Leuven University, with genuine interest in the statistical and analytical 
                field. She chose iGEM because she would like to apply her studies to improve her 
                skills as a future researcher and team member
              </div>
          </div>
      </div>
    </div>

    <div class="column">
      <div class="team">
          <div class="team-img">
              <img src="./static/media/Team/Julian.png" alt="Team Image">
          </div>
          <div class="team-content">
              <h2>Julián David Mateus</h2>
              <h3>Dry lab, Outreach</h3>
              <!-- <p>Some text goes here that describes about team members</p> -->
          </div>
          <div class="overlay">
              <div class="quote">
                Meet Julian! A Colombian bioengineer wanting to unravel the mysteries 
                of nature with the help of technology. Currently a KU Leuven master 
                student and member of the KU Leuven iGEM team, wishing to push computational 
                biology to uncharted waters
              </div>
          </div>
      </div>
  </div>

  <div class="column">
    <div class="team">
        <div class="team-img">
            <img src="./static/media/Team/Chris.png" alt="Team Image">
        </div>
        <div class="team-content">
            <h2>Christopher Yap</h2>
            <h3>Wet lab, Finance</h3>
            <!-- <p>Some text goes here that describes about team members</p> -->
        </div>
        <div class="overlay">
            <div class="quote">
              Meet Chris! He studied biochemistry and had two years experience 
              as a microbiologist in the USA prior to coming to Belgium. 
              He began studying international business and management at KU Leuven. 
              His goal is to bridge the gap between science and business. 
              He love all things to do with science and he hopes to make the world a better place with it
            </div>
        </div>
    </div>
</div>

<div class="column">
  <div class="team">
      <div class="team-img">
          <img src="./static/media/Team/Lennert.png" alt="Team Image">
      </div>
      <div class="team-content">
          <h2>Lennert Van Bergen</h2>
          <h3>Wet lab, Finance</h3>
          <!-- <p>Some text goes here that describes about team members</p> -->
      </div>
      <div class="overlay">
          <div class="quote">
            Meet Lennert! Even though he doesn’t have a background in biology, 
            our triathlete️ is very familiar with putting himself into uncomfortable 
            and challenging positions. Always hungry for new knowledge on science, 
            technology and education, he believes iGEM can give him the challenging 
            and teamworking opportunities that he strives for
          </div>
      </div>
  </div>
</div>

<div class="column">
  <div class="team">
      <div class="team-img">
          <img src="./static/media/Team/Michelle.png" alt="Team Image">
      </div>
      <div class="team-content">
          <h2>Michelle Patricia</h2>
          <h3>Wet lab, Finance</h3>
          <!-- <p>Some text goes here that describes about team members</p> -->
      </div>
      <div class="overlay">
          <div class="quote">
            Meet Michelle! She is is a molecular biology student from Indonesia. 
            Growing up in an island country, she loves swimming and scuba divin️g. 
            Her biotech background and interest in synbio motivate her to make an impactful project with her team! 
          </div>
      </div>
  </div>
</div>

<div class="column">
  <div class="team">
      <div class="team-img">
          <img src="./static/media/Team/Sushanth.png" alt="Team Image">
      </div>
      <div class="team-content">
          <h2>Sushanth Varada</h2>
          <h3>Dry lab, Finance</h3>
          <!-- <p>Some text goes here that describes about team members</p> -->
      </div>
      <div class="overlay">
          <div class="quote">
            Meet Sushanth! He’s from India is currently pursuing the Erasmus Mundus Master’s 
            in Nanoscience and Nanotechnology with a specialization in Quantum Computing. 
            Enthusiastic about research in the interdisciplinary field of STEM (Science, 
            Technology, Engineering, Mathematics), he joined the iGEM KUL team to be a part of 
            a genuine effort and a challenge to tackle a real-world problem. Next to science he 
            likes playing the violin and sketching 
          </div>
      </div>
  </div>
</div>

<div class="column">
  <div class="team">
      <div class="team-img">
          <img src="./static/media/Team/Kristina.png" alt="Team Image">
      </div>
      <div class="team-content">
          <h2>Kristina Yefimak</h2>
          <h3>Wet lab, Social media</h3>
          <!-- <p>Some text goes here that describes about team members</p> -->
      </div>
      <div class="overlay">
          <div class="quote">
            Meet Kristina! She studies Bioscience engineering and has many interests in 
            upcoming, new techniques in the science world. That's why she chose to be 
            part of such an unique project herself with iGEM! She loves to be around 
            people and brings a twist of enthousiasm in the spirit of the group
          </div>
      </div>
  </div>
</div>

<div class="column">
  <div class="team">
      <div class="team-img">
          <img src="./static/media/Team/Lory.png" alt="Team Image">
      </div>
      <div class="team-content">
          <h2>Lory Panossian</h2>
          <h3>Wet lab, Social media</h3>
          <!-- <p>Some text goes here that describes about team members</p> -->
      </div>
      <div class="overlay">
          <div class="quote">
            Meet Lory! As a second year student in Engineering 
            Technology with a specialization in Biochemical Engineering, 
            Lory loved biology and engineering and 
            decided to pursue a research career 🤩.  
            In her spare time, she enjoys cooking and painting her worries away. 
            She chose to join iGEM not only to expand her knowledge in biology, 
            but also to start her journey as a budding researcher. She is excited and 
            ready to get started on this iGEM adventure!
          </div>
      </div>
  </div>
</div>

<div class="column">
  <div class="team">
      <div class="team-img">
          <img src="./static/media/Team/Paula.png" alt="Team Image">
      </div>
      <div class="team-content">
          <h2>Paula Ventura Barroso</h2>
          <h3>Wet lab, Social media</h3>
          <!-- <p>Some text goes here that describes about team members</p> -->
      </div>
      <div class="overlay">
          <div class="quote">
            Meet Paula! Our Spanish breeze in the team who loves to bring some fun. 
            She works hard for her goals and likes to create a good team environment. 
            Next to this she is also very sporty.️ Through her curiosity and background 
            in biomedical science she made herself part of iGEM!
          </div>
      </div>
  </div>
</div>

<div class="column">
  <div class="team">
      <div class="team-img">
          <img src="./static/media/Team/Paolo.png" alt="Team Image">
      </div>
      <div class="team-content">
          <h2>Paolo von Dommelen</h2>
          <h3>Dry lab, Social media</h3>
          <!-- <p>Some text goes here that describes about team members</p> -->
      </div>
      <div class="overlay">
          <div class="quote">
            Meet Paolo, an industrial engineering and passionate developer 
            who will be joining the dry lab team! With a novel look on biology 
            and biosensors he aims to bring a new ideas to the table!
          </div>
      </div>
  </div>
</div>

<div class="column">
  <div class="team">
      <div class="team-img">
          <img src="./static/media/Team/Anh.png" alt="Team Image">
      </div>
      <div class="team-content">
          <h2>Anh Nguyen</h2>
          <h3>Dry lab, Outreach</h3>
          <!-- <p>Some text goes here that describes about team members</p> -->
      </div>
      <div class="overlay">
          <div class="quote">
            Meet Anh! As a statistician, she loves seeing the beauty of nature through 
            the eyes of mathematics and statistics. She hopes that through IGEM, 
            she can deliver her view to other people!
          </div>
      </div>
  </div>
</div>

  </div>

  <div class="section-title">
    <h1>Meet our supervisors</h1>
</div>

</div>


{% endblock %}
