<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    <link rel="icon" type="image/x-icon" href="static\media\bubblelogo-removebg-preview.ico">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">

     <!--  Custom Js -->
     <script src="static/script.js"></script>

     <!--  JQUERY -->
     <script src="static/jquery-3.6.0.js"></script>

    <!-- font awsome icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/688dc0e3b9.js" crossorigin="anonymous"></script>
    

    <title>{% block title %}{% endblock %} | KU-Leuven iGEM 2022 </title>

    
</head>


<div class="navbar_layout">
  {% include 'menu.html' %}
</div>



<body>

  <!-- Page Content -->
  <div>
    {% block page_content %}{% endblock %}
  </div>

  <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
  {% include 'footer.html' %}

  <!-- Wiki Tools: Teams are allowed to remove it -->
  {% include 'wiki-tools.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
  
</body>
</html>

<!--
<a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons">Instagram icons created by edt.im - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by pictogramer - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/email" title="email icons">Email icons created by BomSymbols - Flaticon</a>
-->



