/*menu*/


  #logo {
    height: 60px;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* navbar styles implement later*/
  .navbartu {
    z-index: 1;
    background-color: whitesmoke;
    top:14px;
    width:100%;
    position:fixed;
    border-bottom: 2px solid #FCC30D;
  }

  .floatingNav {
    box-shadow: 0px 1px 10px #999;
  }

  .navbartu a {
    float: left;
    display:block;
    font-size: 14px;
    color: #525252;
    text-align: center;
    margin-top: 10px;
    padding: 10px 10px;
    text-decoration: none;
  }

  .navbartu .test {
    font-size: 14px;
    color: #525252;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 10px;
  }

  .navbartu .social{
    float: right;
  margin-top: 20px;
    padding: 10px 10px;
  }

  .dropdowntu {
    float: left;
  }

  .dropdowntu .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #525252;
    background-color: inherit;
    font-family: inherit;
    margin:0px;
    padding: 8px 8px;
    text-decoration: none;
    margin-top: 20px;

  }

  .navbartu a:hover, .dropdowntu:hover .dropbtn {
    background-color: none;
    text-decoration:none;
    color:#FCC30D;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: #525252;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
    text-decoration:none;
    color:#000000;
  }

  .dropdowntu:hover .dropdown-content {
    display: block;
    text-decoration:none;
  }
  .navbartu .icon {
    display: none;
    padding: 10px 10px;
  }

body { 
    padding-top: 56px; 
    font-family: "Century Gothic", 'Lato', sans-serif;
}
.left-aligned { margin-left: auto; }
.bg-dark { background-color: #005151 !important; }
.bg-hero { background-color: #6AB0B0; }


/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

/* footer */
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }
